@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*atma*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*Raleway*/
body {
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    background-color: #f9f9e7;
    color: #212529;
}

header {
    text-align: center;
    padding: 1.5em;
    background-color: #161613;
    color:#c0a1ae;

}

h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: 'atma', sans-serif;
}

nav {
    margin-top: 1em;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;
    border-left: 2px solid #ffffff;
    border-right:2px solid #ffffff;
    padding: 5px;
    font-family: 'Raleway';
}

nav a:hover {
    text-decoration: underline;
}

/* Estilo de la tabla */
.product-table {
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-table th, .product-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #e0e0e0;
}

.product-table th {
    background-color:#161613;
    color: #c0a1ae;
}

.product-table td {
    background-color: #f8f9fa;
}

.product-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 5px;
}
/* Estilo de los a*/


  /* Estilos generales para los botones */

.btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0 10px;
}

  /* Botón Editar */
.edit {
    background: linear-gradient(90deg, #28a745, #218838);
}

  /* Botón Eliminar */
.delete {
    background: linear-gradient(90deg, #dc3545, #c82333);
}

  /* Efecto Hover */
.btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

  /* Efecto Click (Active) */
.btn:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.footer{
    color: #c0a1ae;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #000000;
}
footer a{
    color: #c0a1ae; 
    text-decoration: none;
    font-size: 20px;
}
